.stock{
    background-color: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: brown;
}
.stock > div{
    width: 60%;
    background-color: azure;
    padding: 20px;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid wheat;
}